#navbar {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #292B34;
}

#navbar .logo {
  width: 100px;
}

#navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 800px;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 25px;
  font-size: 22px;
  width: 300px;
  margin-left: -80px;
  justify-content: center;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  display: flex;
  color: white;
}

.logo {
  margin-top: -20px;
  width: auto;
  margin-left: 12px;
}

.btn:nth-child(1) {
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  padding-right: 50px;
  display: flex;
  justify-content: space-around;
}

.auth {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  justify-content: right;
  padding-right: 20px;
}

.btn:hover {
  background-color: #F4BF00;
}